form(action="/login", method="POST")
    label login 
    input(type="text" name="login", value="admin" id="login")
    label Password
    input(type="password" name="password",value="123" id="password")
    input(type="submit" value="OK")

//- script(src="js/login.js")